.delete-button,.edit-button { 
    border: 1px;
    border-style: dashed;
    border-color: black;
    background-color: #e69598;
    border-radius: 5px;
    color: antiquewhite;
    text-align:center;
    display: flex;
    flex-direction: row;
    max-height: 50%;
    max-width: 10vh;
    margin-right: 50%;
}
.delete-button{
    background-color: #e69598;
}
.edit-button{
    background-color: #396a21;
}
.edit-button,.delete-button{
    display: inline-block;
    margin: 10px;
    width: 100%;
    height: 100%;
}
.button-wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content:flex-end;
    margin: 0px;
    column-gap: 0%;
    height: 10%;
}
.details-wrapper{
    display:flex;
    justify-content: row;
    width: 100%;
    height: 60vh;
}
.details {
    flex-direction: column;
    width:50%
}
.image-display{
    display: flex;
    flex-direction: column;
    overflow: none;
    justify-content: flex-start;
    margin-top: 5%;
    height: 5%;  
    padding-bottom: 3%;
    height: 100%;
}
.right-side-display{
    display: flex;
    flex-direction: column;
    gap: 0%;
    height: 100%;
    width: 100%;
}