<div class="shopping-cart-menu">
  <h2>Shopping Cart</h2>
  <button>Checkout</button>
</div>
<div class="shopping-cart-titles">
  <h1>Category</h1>
  <h1>Name</h1>
  <h1>Price</h1>
  <h1>Quantity</h1>
</div>
<div class="shopping-cart-details" *ngFor="let product of productList">
  <div class="detail">
    <p>{{ product.category }}</p>
  </div>
  <div class="detail">
    <p>{{ product.name }}</p>
  </div>
  <div class="detail">
    <p>{{ product.price }}</p>
  </div>
  <div class="detail">
    <p>{{ product.quantity }}</p>
  </div>
  <div class="detail">
    <app-icon-button [imageUrl]="checkProductImageUrl"></app-icon-button>
  </div>
</div>
